/* Webfont: InclusionUKR-Regular */
@font-face {
    font-family: 'InclusionUKR';
    src: url('inclusion.ukr-regular.woff2') format('woff2'), /* Сучасні браузери (найлегший файл) */
    font-style: normal;
    font-weight: normal;
    font-display: swap; /* Текст з'явиться одразу, не чекаючи повного завантаження файлу */
}

#Themain{
 border: 1px dotted white;font-style: italic;text-align: center;
}
.container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.container img {
 width: 45%;
 margin: 0 auto;
 border-radius: 20px;
}
.navigation{
text-align: center;font-style: normal;
}
.maintext{
 text-align: center;font-style: italic; 
 margin: 0 auto;
 width: 70%; 
}
#compare {
 background: white;
 width: 20%; 
 border: 1px solid black;
 border-radius: 20px;
 opacity: 0.6;
 margin: 0 auto;
}
.compared{
 background: white;
 width: 25%; 
 border: 1px solid black;
 border-radius: 20px;
 opacity: 0.6;
 margin: 0 auto;
}
.promt {
 background: white;
 width: 40%; 
 border: 1px solid black;
 border-radius: 20px;
 opacity: 0.6;
 margin: 0 auto;
}
#settings {
 display: none;
}
#button {
 width: 5%; 
 float: left;
}
#button2 {
 display: none;
}
#buttondislex {
 display: none;
}
#leter {
 background: white;
 width: 50%; 
 border: 1px solid black;
 border-radius: 20px;
 opacity: 0.6;
 margin: 0 auto;
}
#ligatur {
 background: white;
 border: 1px solid black;
 opacity: 0.6;
 margin: 0 auto;
 border-radius: 10px;
 width: 50%;
}
#morphologym {
 background: white;
 border: 1px solid black;
 opacity: 0.6;
 margin: 0 auto;
 border-radius: 10px;
 width: 70%;
}
#morphologyf {
 background: white;
 border: 1px solid black;
 opacity: 0.6;
 margin: 0 auto;
 border-radius: 10px;
 width: 70%;
}
#morphologys {
 background: white;
 border: 1px solid black;
 opacity: 0.6;
 margin: 0 auto;
 border-radius: 10px;
 width: 70%;
}
.dislex{
 text-align: center;
 font-family:'InclusionUkr',sans-serif; 
 margin: 0 auto;
 width: 65%;
 font-style: normal;
 line-height: 1.5;
 letter-spacing: 0.05em;
}
#buttonstandart {
 display: none;